{% extends 'consumo/ppal.html' %}
 {% load static %}

 {% block title %}
 <title>Calculo Gas</title>
 {% endblock  %}
 

 {% block content %}




<div class="container my-5"> 
  <div class="card text-black  py-1  crema">
  <div class="card-body">
<div class="row">
    <div class="col-md-9 col-center">
    <button type="button" class="btn btn-primary traer botoncalefactorgas" data-toggle="modal" data-target=".bd-example-modal-xl" data-whatever="Calefactores" id="Calefactores"></button>

    <button type="button" class="btn btn-primary traer botoncalefon" data-toggle="modal" data-target=".bd-example-modal-xl" data-whatever="Calefones" id="Calefones"></button>
    <button type="button" class="btn btn-primary traer botontermotanque" data-toggle="modal" data-target=".bd-example-modal-xl" data-whatever="Termotanques" id="Termotanques"></button>
    <button type="button" class="btn btn-primary traer botoncaldera" data-toggle="modal" data-target=".bd-example-modal-xl" data-whatever="Calderas" id="Calderas"></button>
</div>
</div>



<!--modal-->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <!--tabla modal -->
          <div class="row" >
            <div class="col-sm-12" >
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                  <tr>
                    <td>seleccion</td>
                    <td>Artefacto</td>
                    <td>marca</td>
                    <td>modelo</td>
                    <td>consumo</td>
                  </tr>
                </thead>
                <tbody id="contenidomodal">
                
                </tbody>
              </table> 
              <button type="button" class="btn btn-primary" id="Agregar" > Agregar</button> 
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
    </div>
  </div>
</div>




<!--tabla generada con artafactos seleccionados en el modal table-condensed table-hover     -->

<div class="row  my-5" >
    <div class="col-sm-12" >
          <table class="table  table-striped table-dark table-bordered " id="tabla">
            <thead class="thead-dark">
            <tr>
              <td>Artefacto</td>
              <td>marca</td>
              <td>modelo</td>
              <td>consumo(Kcal/h)</td>
              <td>cantidad</td>
              <td>horas</td>
              <td>dias</td>
              
              <td>eliminar</td>
            </tr>
            </thead>
            <tbody id="contenido">
            
            </tbody>
            
          </table>  
          <button type="button" class="btn btn-primary " id="calcular"> Calcular</button>
          
      
        </div>
    </div>
    

  
    {% block precio%}
    
    <div class="card text-black  py-1 text-center crema">
      <div class="card-body">
      <p align="left" class="text-black m-0" id="precio"></p>
      
        
      </div>
    </div>
    <div class="card text-black  py-1 text-center crema">
      <div class="card-body">
      <p align="left" class="text-black m-0" id="consumo"></p>
     
        
      </div>
    </div>

    <div class="card text-black  py-1 text-center crema">
      <div class="card-body">
      <p align="left" class="text-black m-0" id="cantGarrafas"></p>
      <img src="{% static 'img/iconoGarrafa.jpg'%}" alt="">
        
      </div>
    </div>
    {% endblock %}
        


  </div> 
  </div>
</div> <!--fin container principalmy-5-->  
 {% endblock content %}
 

 {% block extraJS %}
    <script  src="{% static 'js/app2.js' %}"></script>
 {% endblock %}
