{% extends 'consumo/ppal.html' %}
 {% load static %}

 {% block title %}
 <title>Cuidar el medio ambiente</title>
 {% endblock  %}
  
 

 {% block content %}

  <blockquote class="blockquote text-center">
 <h1>
  <p class="mb-0">Alternativas a la electricidad y el gas </p>
  </h1>
  </blockquote>

{% comment %} termotanques {% endcomment %}
    <blockquote class="blockquote text-center">
  <p class="text-justify" ><a href="#" class="text-decoration-none">Termotanques solares</a> </p>
   </blockquote>
  <blockquote class="blockquote text-center">
<div class="col-md-10 mb-5">
  
  
  <p class="text-justify">Hay una apuesta en nuestro país para la producción de termotanques solares, con los cuales se reduce hasta un 80% del consumo de gas o electricidad aplicada para el calentamiento de agua sanitara, certificado por el INTI. ¿Cómo funciona? El termotanque solar se complementa con el actual termotanque (a gas o eléctrico), ya que el agua ingresa precalentada por energía solar,  ofreciendo una solución perfecta para una instalación doméstica o industrial, con el objeto de reducir notablemente el consumo energético.
</p>
  
  </div>
  </blockquote>


{% comment %} paneles {% endcomment %}
   <blockquote class="blockquote text-center">
  <p class="text-justify" ><a href="#" class="text-decoration-none">Paneles solares</a> </p>
   </blockquote>
  <blockquote class="blockquote text-center">
<div class="col-md-10 mb-5">
  
  
  <p class="text-justify">Los paneles solares fotovoltaicos son los más conocidos y sirven para generar electricidad a través del efecto fotovoltaico, un primo hermano del efecto fotoeléctrico por el cuál ganó el premio Nobel Albert Einstein. Se utilizan tanto en parques solares de gran envergadura de varios megawatts como en instalaciones hogareñas. Además de su ventaja en ahorro traen estabilidad a la electricidad evitando picos de tensión que pueden dañar electrodomésticos.</p>
  
  </div>
  </blockquote>


  {% comment %} molinos 

   <blockquote class="blockquote text-center">
  <p class="text-justify" ><a href="#" class="text-decoration-none">Molinos de viento</a> </p>
   </blockquote>
  <blockquote class="blockquote text-center">
<div class="col-md-10 mb-5">
  
  
  <p class="text-justify">Los paneles solares fotovoltaicos son los más conocidos y sirven para generar electricidad a través del efecto fotovoltaico, un primo hermano del efecto fotoeléctrico por el cuál ganó el premio Nobel Albert Einstein. Se utilizan tanto en parques solares de gran envergadura de varios megawatts como en instalaciones hogareñas. Además de su ventaja en ahorro traen estabilidad a la electricidad evitando picos de tensión que pueden dañar electrodomésticos.</p>
  
  </div>
  </blockquote>
{% endcomment %}


 {% endblock %}